<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spiraltest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.spiraltest.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team1" android:label="@string/team1">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team2" android:label="@string/team2">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Team2DrawingActivity"
            android:label="DrawingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Team2PracticeSpiral" />
        <activity android:name=".Team2SpiralResults" />
        <activity android:name="com.example.spiraltest.Team3" android:label="@string/team3">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team4" android:label="@string/team4">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team5" android:label="@string/team5">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team5" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team6" android:label="@string/team6">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team6" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team7" android:label="@string/team7">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team7" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team8" android:label="@string/team8">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team8" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team9" android:label="@string/team9">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team9" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team10" android:label="@string/team10">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team10" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team11" android:label="@string/team11">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team11" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team12" android:label="@string/team12">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team12" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team13" android:label="@string/team13">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team13" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team14" android:label="@string/team14">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team14" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team15" android:label="@string/team15">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team15" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team16" android:label="@string/team16">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team16" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team17" android:label="@string/team17">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team17" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team18" android:label="@string/team18">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team18" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spiraltest.Team19" android:label="@string/team19">
            <intent-filter>
                <action android:name="com.example.spiraltest.Team19" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>